<h3 mat-dialog-title>Enter Employee Information</h3>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="employeeForm">
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="First Name"
          formControlName="firstname"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Last Name"
          formControlName="lastname"
        />
      </div>
    </div>

    <!-- personel informations -->
    <div class="row mt-5">
      <div class="col form-heading">
        <h4 class="text-secondary fst-italic">Personal Information</h4>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="datepicker" class="form-label">Birthdate</label>
        <input
          type="date"
          formControlName="birthday"
          class="form-control"
          id="datepicker"
        />
      </div>
      <div class="col">
        <div class="row">
          <h6 class="text-secondary">Gender</h6>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-check form-check-inline">
              <input
                type="radio"
                class="form-check-input"
                name="gender"
                id="male"
                value="m"
                formControlName="gender"
              />
              <label for="male" class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                type="radio"
                class="form-check-input"
                name="gender"
                id="female"
                value="f"
                formControlName="gender"
              />
              <label for="female" class="form-check-label">Female</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <select class="form-select" formControlName="education">
          <option value="default" selected>Select your Education</option>
          <option
            *ngFor="let option of educationOptions; let i = index"
            value="{{ i }}"
          >
            {{ option | titlecase }}
          </option>
        </select>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <label for="profile" class="form-label">Profile Image</label>
        <input type="file" class="form-control" id="profile" #fileInput />
      </div>
    </div>

    <div class="row mt-5">
      <div class="col form-heading">
        <h4 class="text-secondary fst-italic">Job Information</h4>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Company Name"
          formControlName="company"
        />
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <input
          type="number"
          class="form-control"
          placeholder="Jon Experience (yes)"
          formControlName="jobExperience"
        />
      </div>
      <div class="col">
        <input
          type="number"
          class="form-control"
          placeholder="Salary(LPA)"
          formControlName="salary"
        />
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="primary">
    Insert
  </button>
</mat-dialog-actions>
