<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>people_outline</mat-icon>
  </button>
  <span>Employee Management System</span>
  <span class="spacer"></span>

  <button mat-flat-button color="accent" (click)="openDialog()">
    New Employee
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<main>
  <div class="toolbar">
    <div class="search-employees">
      <input
        type="search"
        class="form-control"
        placeholder="Search Employees"
      />
    </div>
  </div>

  <div class="employees" *ngIf="employees.length === 0">
    <div class="col text-center">
      <span class="text-secondary fs-2 fw-bold fst-italic"
        >There are No Employees Added!</span
      >
    </div>
  </div>
  <div
    class="row mt-4"
    *ngFor="let employee of employeesToDisplay; let i = index"
  >
    <div class="col">
      <app-employee
        [employee]="employee"
        (onRemoveEmployee)="removeEmployee($event)"
      ></app-employee>
    </div>
  </div>
</main>
