.spacer {
  flex: 1 1 auto;
}
body,
span {
  font-family: "Source Sans Pro", sans-serif;
}

main {
  width: 90%;
  margin: 3rem auto 8px;
}

.search-box {
  justify-content: end;
  display: flex;
}

mat-card {
  margin-bottom: 15px;
}
